---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Webmaster & Administrador de Infraestructura",
    company: "We Are Solutions, Inc.",
    description:
      "Responsable de la gestión y administración de sitios web basados en Wordpress. Mantenimiento de servidores y manejo de infraestructura organizacional (Google Workspace). Implementación de mejoras de seguridad y optimización del rendimiento web.",
  },
  {
    date: "Marzo 2024 - Septiembre 2024",
    title: "Especialista de Marketing",
    company: "We Are Solutions, Inc.",
    description:
      "Desarrollo e implementación de estrategias de marketing digital para aumentar la visibilidad y el alcance de la empresa. Gestión de campañas publicitarias en redes sociales y plataformas digitales. Análisis de métricas y optimización de contenido para mejorar el engagement con la audiencia.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
