---
import ExperienceItem from "./ExperienceItem.astro";
import { getLangFromUrl, ui } from "@/i18n";

const lang = getLangFromUrl(Astro.url);
const EXPERIENCE = ui[lang].experience.items;
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience, index) => (
      <li class="" data-experience-item data-index={index}>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
